@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Modern Negra";
  src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

.animate {
  opacity: 0;
  translate: 0 0.75rem;
  transition: 700ms cubic-bezier(0, 0, 0.2, 1);
}

.animate.show {
  opacity: 1;
  translate: 0 0;
}

.fade {
  animation: fade-in 30s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  via {
    opacity: 50;
  }

  to {
    opacity: 100;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
}
