/* Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

/* Colors */
:root {
  --clr-1: #223C50;
  --clr-2: #5CA2B2;
  --clr-3: #8BBECA;
  --clr-4: #81B8C5;
  --clr-5: #DEECF0;
  --clr-6: #F2F4F7;
  --clr-7: #E6E9EC;
  --clr-8: #258FFB;
  --clr-9: #3D4B57;
  --clr-10: #001F3F;
  --clr-11: #F7BC33;
  --clr-white: #FFFFFF;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-1);
  color: var(--clr-white);
  font-family: 'Noto Sans', 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
}

.container > section {
  margin: 20px auto;
}

.about-heading,
.projects-heading,
.contact-heading,
.inspiration-heading {
  text-align: center;
}

a {
 text-decoration: none; 
 color: var(--clr-8);
 font-weight: bolder;
}

.btn {
  background-color: var(--clr-10);
  text-decoration: none;
  padding: 5px 10px;
  color: var(--clr-white);
  border-radius: 5px;
}

.resume {
  padding: 0.4em 1em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resume:before {
  content: "";
  background: linear-gradient(
    45deg,
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-6),
    var(--clr-7),
    var(--clr-8),
    var(--clr-9),
    var(--clr-10),
    var(--clr-11),
    var(--clr-white)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-resume 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

@keyframes glowing-resume {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.resume:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 5px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Header Section Styles */
#header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid var(--clr-9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}

.tonybnya {
  font-family: 'Rubik Vinyl', cursive;
  font-size: 25px;
  font-weight: bolder;
}

.tonybnya:hover {
  scale: 1.1;
}

.icon,
.icon-mode {
  cursor: pointer
}

/* Main Container Styles */
.container {
  max-width: 840px;
  margin: 5% auto;
}

/* Intro Section Styles */
#intro {
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
  transition: all ease-in-out .2s;
}

.profile-pic:hover {
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}

#intro > h1,
#projects > .projects-heading,
.i-am > h3,
.i-like > h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
}

#intro > .social,
#intro > h1 {
  margin-top: 2%;
}

#intro > h4 {
  font-size: 15px;
  font-family: 'Noto Sans', 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
}

#intro > .social > .rs {
  font-size: 150%;
  color: var(--clr-10);
  margin-right: 2%;
}

#intro > .social > .rs:hover {
  scale: 1.1;
  color: var(--clr-2);
}

/* About Section Styles */
#about-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.i-am, .i-like {
  text-align: center;
  text-decoration: none;
}

.i-am > h3,
.i-like > h3 {
  margin-bottom: 3%;
}

.about-list {
  list-style: none;
  padding: 0;
}

/* Projects Section Styles */
.projects-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.project {
  justify-self: center;
  padding: 4%;
  position: relative;
}

.project-image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
  transition: all ease-in-out .2s;
}

.project-image > img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  object-fit: fill;
}

.project-image:hover {
  filter: brightness(.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}

.desc {
  width: 300px;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: justify;
}

.tech-stack {
  margin-top: 3%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}

.tech-stack > div {
  margin-right: 3%;
  margin-bottom: 2%;
  background-color: var(--clr-2);
  padding: 1%;
  border-radius: 5px;
}

/* Contact Section Styles */
#contact {
  display: grid;
  grid-template-columns: 30% 70%;
}

.social {
  justify-self: center;
}

.social-links {
  list-style: none;
  padding: 0;
}

form input, textarea {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 250px;
}

form {
  width: 250px;
  margin: 0 auto;
}

form input[type="submit"] {
  width: 250px;
  cursor: pointer;
}

textarea {
  height: 100px;
}

.submit-btn {
  margin: 20px 0;
  background-color: var(--clr-8);
}

label > h4 {
  margin-bottom: 2%;
}

.cls {
  margin-top: 10px;
}

/* Inspiration Section Styles */
#inspiration {
  display: grid;
  grid-template-columns: 50% 50%;
}

.fred-swaniker {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fs-img {
  border-radius: 50%;
  border: 2px solid var(--clr-9);
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
  transition: all ease-in-out .2s;
}

blockquote {
  font-family: 'Tangerine', cursive;
  font-size: 30px;
  width: 300px;
  line-height: 1.3;
  text-align: justify;
  margin-top: 4%;
  margin-bottom: 4%;
}

/* Footer Section Styles */
#footer {
  color: var(--clr-white);
  background-color: var(--clr-9);
  bottom: 0;
  height: 60px; width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 650px) {
  #about-grid {
    grid-template-columns: 100%;
  }
  .i-am {
    margin-bottom: 4%;
  }
}

@media (max-width: 650px) {
  .projects-grid {
    grid-template-columns: 100%;
  }
}

@media (max-width: 650px) {
  #contact {
    grid-template-columns: 100%;
  }
}

@media (max-width: 650px) {
  #inspiration {
    grid-template-columns: 100%;
    margin: 5% 5%;
  }
  blockquote {
    text-align: justify;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
